.subTodosWrap{
    background-color: #272727;
    width: 80%;
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: start;
}

.subtodosSubWrap{
    width: 90%;
    height: 90%;
    margin-top: 3rem;
}

.check{
    width: 14px;
    height: 14px;
    border: 2px solid  #aeafaf;
    border-radius: 50% 50%;
    margin-top: 0.3rem;
    margin-left: 0.3rem;

  
}

.check2{
    width: 11px;
    height: 11px;
    border: 2px solid  #aeafaf;
    border-radius: 50% 50%;
    margin-top: 0.3rem;
    margin-left: 0.3rem;

  
}

.todoandsubtodos{
    background-color: #323232;
    padding: 0.3rem;
    
}

.title{
    color: white;
    margin-left: 0.7rem;
    position: relative;
    bottom: 1rem;
}

.todo{
    display: flex;
}

.subtaskForm{
    display: flex;
    margin-bottom: 1rem;
    
}

.inputandicon{
    margin-left: 1rem;
    border-bottom: solid 0.1em #3f3f3f;
    padding-bottom: 8px;
}

.inputandicon input{
    border: none;
    background-color: transparent;
    color: white
}

.inputandicon input::placeholder{
    color: white
}

.inputAddSub input {
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 0.8rem;
    margin-bottom: 0.4rem;
}

.inputAddSub button {
    background-color: transparent;
    border: none;
    position: relative;
    right: 0.3rem;
}