.dashboard {
  display: grid;
  grid-template-columns: 12% 88%;
  height: 99.8vh;
}

.dashboardSections {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: rgba(33, 33, 33, 255);
  height: 100.2%;

   
}

.dynamicBackground{}