.taskcontainer{
    height: 97%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 9fr 2fr;
    
}

.sortTaskBtn{
    grid-row-start: 2;
    grid-row-end: 3;
}

.tasksList{
    grid-column: 1/4
}

.optionsBtns{
    grid-column: 3/4;
}

.addTaskBtn{
    grid-column: 1/4;
}

.taskCategoryDateInfo h1 {
    color: white;
    margin-left: 2rem;
    font-weight: 600;
    
}
.taskCategoryDateInfo p {
    color: white;
    margin-left: 2rem;
    position: relative;
    bottom: 0.9rem
    
}

.sortTaskBtn button{
    color: white; 
    display: flex;
    background-color: #2c2e2f;
    border: none;
    padding: 0.5rem; 
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 5px;
}

.sortTaskBtn{
    margin-left: 2rem;
}
.sortTaskBtn button:hover{
    background-color: #373a3b;

}
.optionsBtns{
    display: flex;
    justify-content: end;
    align-items: start;
}
.fullscreenbtn, .showDetailsBtn, .changebcBtn{
    background-color: #2c2e2f;
    border: none;
    padding: 0.5rem; 
    border-radius: 5px;
    color: white;
    margin-left: 1rem;
    margin-top: 1.5rem;

}

.fullscreenbtn:hover, .showDetailsBtn:hover, .changebcBtn:hover{
    background-color: #373a3b;

}
.changebcBtn{
    background-color: transparent;
}

.addTaskBtn{
    width: 97%;
    margin-left: 2rem;
    margin-top: 1rem;
}
.addTaskBtn input{
    width: 100%;
    height: 3.1rem;
    background-color: rgba(0, 0, 0, 0.171)
    ;
    border:none;
    cursor: pointer;

}

.addTaskBtn input:hover{
    background-color: rgba(0, 0, 0, 0.062)

}

.addTaskBtn input::placeholder{
    color: white;
    font-size: 0.9rem;
    position: relative;
    left: 2rem;
}