

html, body, .App {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;

  }


  input::placeholder, button{
    font-family: 'Inter', sans-serif;

  }

  a{
    color: #91bde0;
    text-decoration: none;
  }

  input{
    outline: none;
  }

  button{
    cursor: pointer;
  }